# Gradle
.gradle/
build/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS
.DS_Store
*.swp

# Java
*.class
*.log

# Logs & temp
*.tmp
*.bak
*.bin
*.lock

# MacOS system files
.Trashes
.AppleDouble
.LSOverride

# SSH, credentials, tokens (если случайно добавились)
*.pem
*.key
*.pub
*.crt
*.env


# Если есть SSH ключи - НЕ КЛАДИ ИХ В РЕПО!
.ssh/
